@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Coffee Spark';
    src: url('../fonts/Coffee Spark.ttf');
}

h2 > span {
    color: #2d9696;
    font-family: 'Coffee Spark';
}
