@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Coffee Spark';
    src: url('../fonts/Coffee Spark.ttf');
}

h1{
    color: #2d9696;
    font-family: 'Coffee Spark';
}

h1 > a {
    color: #2d9696;
    font-size : 28px;
}

h1 > a:nth-of-type(2) {
    font-family: Arial, sans-serif;
}

h1 > a:hover {
    color: #2d9696;
}

.borderCustom {
    border: 2px solid #2d9696;
}

.peluqueriaInfo{
    width: 86%;
}

div > p > i {
    color: #2d9696;
}