@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Coffee Spark';
    src: url('../fonts/Coffee Spark.ttf');
}

h1{
    color: #2d9696;
    font-family: 'Coffee Spark';
}

.borderCustom {
    border: 2px solid #2d9696;
}

.peluqueriaInfo{
    width: 86%;
}