@model MyReserve.Models.TablasBBDD.Usuarios.Usuarios

@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @section Styles {
        <!--El style que renderizamos-->
        <link rel="stylesheet" href="~/css/infousuarios/editar.css" asp-append-version="true" />
    }
    <title>Editar</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="opacity-75">Bienvenido <span>@Model.usu_nombre</span> aquí puedes <span>editar</span> tu información</h1>
        </div>
        <div class="container w-50">
            <div class="row">
                <div class="col-12">
                    <form asp-action="EditarUsuario">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-3">
                            <label asp-for="usu_nombre" class="control-label">Nombre de Usuario</label>
                            <input asp-for="usu_nombre" class="form-control" />
                            <span asp-validation-for="usu_nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="usu_correo_electronico" class="control-label">Correo Electrónico</label>
                            <input asp-for="usu_correo_electronico" class="form-control" />
                            <span asp-validation-for="usu_correo_electronico" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="usu_contrasenha" class="control-label">Contraseña</label>
                            <input asp-for="usu_contrasenha" class="form-control" type="password"/>
                            <span asp-validation-for="usu_contrasenha" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                        </div>
                    </form>
                    <form asp-action="Eliminar" method="post">
                        <input type="hidden" name="usu_id" value="@Model.usu_id" />
                        <input type="submit" value="Eliminar Cuenta" class="btn btn-danger mt-3" onclick="return confirm('¿Seguro que quieres borrar tu cuenta?');" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-5">
            <a asp-action="Portal" class="btn btn-outline-info rounded-pill">Volver a la página principal</a>
        </div>
    </div>
</div>
</body>
</html>
