@model MyReserve.Models.TablasBBDD.Servicios.Servicios
@{
    Layout = "_Layout";
    var pelu_id = ViewBag.pelu_id;
    var pelu_nombre = ViewBag.pelu_nombre;
    ViewData["Title"] = "Crear Servicios";
    var categorias = ViewBag.Categorias as List<MyReserve.Models.TablasBBDD.Categorias.Categorias>;
}
<!DOCTYPE html>
<html>
<head>
    @section Styles {
        <!--El style que renderizamos-->
        <link rel="stylesheet" href="~/css/formulario/registro.css" asp-append-version="true" />
    }
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container-fluid">
        <h1>Crea un servicio para @pelu_nombre</h1>
        <div class="row">
            <div class="d-none d-md-flex col-md-6 d-flex titleSection">
                <h1 class="display-1">My Reserve</h1>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <form asp-action="CrearServicioPeluqueria" method="post" id="formRegistro">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group text-start mt-2 w-100">
                            <label asp-for="ser_nombre" class="control-label h4">Nombre</label>
                            <input asp-for="ser_nombre" class="form-control" placeholder="Nombre del Servicio" id="txtNombre" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group text-start mt-2 w-100">
                            <label asp-for="ser_precio" class="control-label h4">Precio</label>
                            <input asp-for="ser_precio" class="form-control" placeholder="Precio" id="txtPrecio" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group text-start mt-2 w-100">
                            <label asp-for="ser_cat_id_fk" class="control-label h4">Categoría</label>
                            <select asp-for="ser_cat_id_fk" class="form-control">
                                @foreach(var categoria in categorias) {
                                    <option value="@categoria.cat_id">@categoria.cat_nombre</option>
                                }
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <input name="ser_pelu_id_fk" type="hidden" value="@pelu_id" />
                        <div class="form-group mt-4 mb-4 w-100">
                            <input type="submit" value="Crear" class="btn btn-primary w-50" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/peluqueria/crearServicios.js"></script>
</html>
