@{
    Layout = "_Layout";
    ViewData["Title"] = "400";
}

<!DOCTYPE html>

<html>
<head>
    @section Styles {
        <!--El style que renderizamos-->
        <link rel="stylesheet" href="~/css/home/error.css" asp-append-version="true" />
    }
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <h2 class="display-1 text-center"><span>Error 400</span> DIRECCIÓN NO ENCONTRADA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5">
                <a asp-controller="Home" asp-action="Index"><button class="btn btn-outline-info rounded-pill">Ir al menú</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ms-5">
                <figure class="figure d-flex justify-content-center ms-5">
                    <img src="~/img/error/fondoError400.jpg" class="img-fluid w-50" />
                    <figcaption class="figure-caption text-center opacity-25">Designed by Freepik</figcaption>
                </figure>
            </div>
        </div>
    </div>
</body>
</html>
