@{
    Layout = "_Layout";
    ViewData["Title"] = "405";
}

<!DOCTYPE html>

<html>
<head>
    @section Styles {
        <!--El style que renderizamos-->
        <link rel="stylesheet" href="~/css/home/error.css" asp-append-version="true" />
    }
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <h2 class="display-1 text-center"><span>Error 405</span> MÉTODO NO AUTORIZADO</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5">
                <a asp-controller="Home" asp-action="Index"><button class="btn btn-outline-info rounded-pill">Ir al menú</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ms-5">
                <a href="https://www.freepik.es/vector-gratis/ilustracion-personas-abrumadas-diseno-plano_23669501.htm#fromView=search&page=1&position=6&uuid=fbadecf5-4ab4-42d2-9422-66bd9f03bad5">
                    <figure class="figure d-flex justify-content-center ms-5">
                        <img src="~/img/error/fondoError405.jpg" class="img-fluid w-50" />
                        <figcaption class="figure-caption text-center opacity-25">Designed by Freepik</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
