@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @section Styles {
        <!--El style que renderizamos-->
        <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
    }
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar d-flex d-sm-flex d-md-none d-lg-none fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars fs-5"></i></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title title" id="offcanvasNavbarLabel">My Reserve</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a asp-controller="Formularios" asp-action="LoginGrupo"><button class="btn btn-outline-secondary rounded-pill me-2 w-100">Grupo <i class="fa-solid fa-store"></i></button></a>
                            </li>
                            <li class="nav-item mt-3">
                                <a asp-controller="Formularios" asp-action="LoginPeluqueria"><button class="btn btn-outline-secondary rounded-pill me-2 w-100">Peluquería <i class="fa-solid fa-scissors"></i></button></a>
                            </li>
                            <li class="nav-item mt-3">
                                <a asp-controller="Formularios" asp-action="Login"><button class="btn btn-outline-primary rounded-pill me-2 w-100">Iniciar Sesión</button></a>
                            </li>
                            <li class="nav-item mt-3">
                                <a asp-controller="Formularios" asp-action="Registro"><button class="btn btn-outline-success rounded-pill me-2 w-100">Registro</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex d-sm-flex d-md-flex d-lg-flex">
                <h1 class="text-start title">My Reserve</h1>
            </div>
            <div class="d-none d-md-flex col-md-6 col-lg-6 d-lg-flex justify-content-center align-items-center">
                <a asp-controller="Formularios" asp-action="LoginGrupo"><button class="btn btn-outline-secondary rounded-pill me-2">Grupo <i class="fa-solid fa-store"></i></button></a>
                <a asp-controller="Formularios" asp-action="LoginPeluqueria"><button class="btn btn-outline-secondary rounded-pill me-2">Peluquería <i class="fa-solid fa-scissors"></i></button></a>
                <a asp-controller="Formularios" asp-action="Login"><button class="btn btn-outline-primary rounded-pill me-2">Iniciar Sesión</button></a>
                <a asp-controller="Formularios" asp-action="Registro"><button class="btn btn-outline-success rounded-pill me-2">Registro</button></a>
            </div>
        </div>
        <div class="row mt-5 mt-md-5 mt-lg-5">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-0 mt-md-5 mt-lg-5">
                <h1 class="text-left display-1 titleMain mt-0 mt-md-5 mt-lg-5">¡Tu peluquería de confianza a tan solo un click!</h1>
                <div class="buttons mt-5">
                    <a class="d-flex d-sm-flex d-md-none d-lg-none text-decoration-none" asp-controller="Formularios" asp-action="LoginGrupo"><button class="btn btn-outline-secondary rounded-pill mt-2 w-100">Grupo <i class="fa-solid fa-store"></i></button></a>
                    <a class="d-flex d-sm-flex d-md-none d-lg-none text-decoration-none" asp-controller="Formularios" asp-action="LoginPeluqueria"><button class="btn btn-outline-secondary rounded-pill mt-2 w-100">Peluquería <i class="fa-solid fa-scissors"></i></button></a>
                    <a asp-controller="Formularios" asp-action="Login"><button class="btn btn-outline-primary rounded-pill mt-2 w-100">Iniciar Sesión</button></a>
                    <a asp-controller="Formularios" asp-action="Registro"><button class="btn btn-outline-success rounded-pill mt-2 w-100">Registro</button></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <figure class="figure-caption">
                    <img src="~/img/home/mainFoto.png" alt="Una chica sacándose un selfie" class="w-100" />
                </figure>
            </div>
        </div>
    </div>
    <div class="container-fluid sectionServicios">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-6 d-flex justify-content-center mt-5">
                <div class="container-img mt-sm-5 mt-md-0 mt-lg-5">
                    <h2 class="display-3">¡Encuentra el corte y el peluquero perfecto para la ocasión!</h2>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <figure class="figure">
                    <img src="~/img/home/barberoFoto.png" alt="Barbero cortando el pelo" class="img-fluid w-100" />  
                </figure>
            </div>
        </div>
    </div>
    <div class="container-fluid sectionPeluqueria">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 d-flex justify-content-center mt-5">
                <div class="container-img mt-sm-5 mt-md-0 mt-lg-5">
                    <h2 class="display-3">¡Descubre <span class="fw-bold">aquí</span> tu peluquería más cercana!</h2>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <figure class="figure">
                    <img src="~/img/home/peluqueriaFoto.png" alt="Foto de una peluqueria" class="img-fluid w-100" />
                </figure>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>