@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Coffee Spark';
    src: url('../fonts/Coffee Spark.ttf');
}

.container h1 > span {
    color: #2d9696;
    font-family: 'Coffee Spark';
}

tbody tr:nth-child(odd) > td{
    color: white;
    background-color: #2d9696;
}