@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Coffee Spark';
    src: url('../fonts/Coffee Spark.ttf');
}

h2 > span {
    color: #2d9696;
    font-family: 'Coffee Spark';
}

.btn-check + .btn {
    border: 1px solid #1e5c5c; 
}

.btn-check:checked + .btn {
    border: 1px solid #2d9696;
}

@media (max-width: 768px) {
    html, body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-check + .btn {
        margin-top: 5%;
    }
}
