@model MyReserve.Models.TablasBBDD.GrupoPeluqueria.GrupoPeluqueria

@{
    Layout = "_Layout";
    ViewData["Title"] = "EditarGrupo";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @section Styles {
        <!--El style que renderizamos-->
        <link rel="stylesheet" href="~/css/formulario/registro.css" asp-append-version="true" />
    }
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-md-flex col-md-6 d-flex titleSection">
                <h1 class="display-1">My Reserve</h1>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <form asp-action="EditarGP" method="post" id="editarinfoPeluqueria">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="gp_id" type="hidden" class="form-control" />
                    <div class="form-group">
                        <label asp-for="gp_nombre" class="control-label">Nombre</label>
                        <input asp-for="gp_nombre" class="form-control" id="txtNombre" />
                        <span asp-validation-for="gp_nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="gp_correo_electronico" class="control-label">Correo</label>
                        <input type="email" asp-for="gp_correo_electronico" class="form-control" id="txtCorreo" />
                        @Html.ValidationMessage("gp_correo_electronico")
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="gp_contrasenha" class="control-label">Contraseña</label>
                        <input asp-for="gp_contrasenha" class="form-control" id="txtContrasenha" />
                        <span asp-validation-for="gp_contrasenha" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2 mt-3 d-flex justify-content-center">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex justify-content-between">
                    <a asp-action="Portal" class="btn btn-outline-info rounded-pill me-5">Volver</a>
                    <form asp-action="EliminarGP" method="post" onclick="return confirm('¿Seguro que quieres borrar el grupo, eliminando todas tus peluquerías?');">
                        <input asp-for="gp_id" type="hidden" class="form-control" />
                        <input type="submit" value="Eliminar Grupo Peluquerias" class="btn btn-outline-danger rounded-pill" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/grupos/editar.js"></script>
</html>
